doctype html 
html 
    head 
        title Início - Eletro-ima
        link(rel='stylesheet',href='/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet',href='/css/home.css')
        script(src='/js/home.js')
    body

        #page
            //Header da página

            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                a.navbar-brand(href='/home') Inicio
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item.active
                            a.nav-link(href='/about')
                                | Sobre 
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href='/plans') Planos
                                            li.nav-item
                            a.nav-link(href='/contact') 
                                span.badge.badge-secondary Contrate-nos!
            
            //Body da página

            //Posicionamento do nome e apresentação da empresa: 
            #logodiv 
                img#logoimg(src="/imgs/logo.png", alt="Eletrica")      

            // Posicionamento de alguns serviços oferecidos: 
            .container
                .row
                    .col.order-first
                        .card.mb-4.box-shadow 
                            .card-body 
                                img.card-img-top#serv(src="/imgs/automacao.jpg", alt="Eletrica")
                                .card-text
                                    h3
                                        | Automação
                                    br 
                                    | Oferecemos serviço de automação residencial, baseada na
                                    br
                                    | internet das coisas. ut labore et dolore magna aliqua. U
                                    br
                                    | ommodo consequat. Duis aute irure dolor in reprehender
                    .col
                        .card.mb-4.box-shadow 
                            .card-body 
                                img.card-img-top#serv(src="/imgs/camera.png", alt="Eletrica")
                                .card-text
                                    h3
                                        | Segurança
                                    br 
                                    | Instalamos câmeras, cercas e portões eletrônicos para
                                    br
                                    | sua segurança. ut labore et dolore magna aliqua. U
                                    br
                                    | ommodo consequat. Duis aute irure dolor in reprehender
                    .col.order-last
                        .card.mb-4.box-shadow 
                            .card-body 
                                img.card-img-top#serv(src="/imgs/iluminacao.jpg", alt="Eletrica")
                                .card-text
                                    h3
                                        | Iluminacao
                                    br 
                                    | Realizamos toda parte elétrica de sua residência.
                                    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U
                                    | ommodo consequat. Duis aute irure dolor in reprehender

                .row#contato-div
                    .col
                        .card.mb-4.box-shadow
                            a(href="https://web.whatsapp.com/") 
                                img#contato(src="/imgs/whatsapp.png", alt="Eletrica")
                    .col
                        .card.mb-4.box-shadow
                            a(href="https://www.instagram.com/") 
                                img#insta(src="/imgs/instagram.png", alt="Eletrica")
                .row#endereco-div  
                    .card.mb-4.box-shadow
                        .card-text 
                            | Rua abcd, 134, Centro - 35900-000
                            br
                            | Itabira - mg
                            br
                            |contato@eletroima.com.br
                            br
                            | (31) 3834-0000

            //Rodapé da página
            #foothome 
                h2 Parceiros 
