doctype html 
html 
    head 
        title Início - Eletro-ima
        link(rel='stylesheet',href='/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet',href='/css/home.css')
        script(src='/js/home.js')
    body
        h1 Bem vindo ao home!!!
            br
            br
            br 
            br 
            br 
        h2 bem vindo ao home!!!
        button#bthome(onclick='myFunction()') Try it now
