doctype html 
html 
    head 
        title Planos - Eletro-ima
        link(rel='stylesheet',href='/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet',href='/css/plans.css')
        script(src='/js/home.js')
    body

        //Header da página
        #page
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                a.navbar-brand(href='/home') Inicio
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item.active
                            a.nav-link(href='/about')
                                | Sobre 
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href='/plans') Planos
                                            li.nav-item
                            a.nav-link(href='/contact') 
                                span.badge.badge-secondary Contrate-nos!
            
            //Icone no canto inferior esquerdo
            .pageicon
                img#icon-img(src="/imgs/icon.png", alt="icone")
            
            //Body da página
            .container
                each dado, i in meuarray
                    .row
                        .col
                            .card.mb-4.box-shadow 
                                .card-body 
                                    .card-text
                                        h2 
                                            | #{dado.titulo}
                                        p 
                                            | #{dado.descricao}
                                    img.card-img-top#inner-img(src= dado.imagem, alt="Eletrica")