.pageicon{
    position: fixed;
}

#page{
    position: absolute;
    height: 1500px;
    width: 100%;
    background-image: linear-gradient(180deg, rgb(255, 255, 255), rgb(29, 18, 95));
}

/* Div principal do container*/
.container{
    position: absolute;
    top: 100px;
    left: 100px;
    border-radius: 15px;
}

/* Div da box*/
.card.mb-4.box-shadow{
    border-radius: 20px;
    /*align-items: center;*/
}

/* Imagem dentro do card*/
#inner-img{
    position: absolute;
    top: 50px;
    right: 50px;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.card-text{
    width: 500px;
}